<div class="pull-left btn-group icons-holder">
    <a href="{{ path('cleverage_connect_as', {'id': entity.id}) }}" target="_blank" class="btn back icons-holder-text">
        <i class="fa-cog hide-text">
            {{ 'Connect as'|trans }}
        </i>{{ 'Connect as'|trans }}
    </a>
</div>